In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv("./Data/ultimate_twitter.csv")

In [2]:
X1=df[[
    "post_date",
    "comment_num",
    "retweet_num",
    "like_num",
    "follower_count",
    "ticker_symbol",
    "sentiment_score"
]]
X1.head(5)

,post_date,comment_num,retweet_num,like_num,follower_count,ticker_symbol,sentiment_score
0,1420070457,0,0,1,2016,AAPL,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,1420094236,0,0,0,2016,GOOG,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,1420232469,0,0,0,2016,TSLA,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,1420405295,0,0,0,2016,TSLA,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,1420418061,0,0,0,2016,GOOG,"{'neg': 0.125, 'neu': 0.688, 'pos': 0.188, 'co..."

In [3]:
X1['compound_score'] = X1['sentiment_score'].apply(lambda x: float(eval(x)['compound']))

/var/folders/s6/jdcxt52n79g1xkx16mm4x8yr0000gn/T/ipykernel_68502/1989950626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['compound_score'] = X1['sentiment_score'].apply(lambda x: float(eval(x)['compound']))

In [7]:
X1_AAPL = X1[X1['ticker_symbol'] == 'AAPL']
X1_AAPL = X1_AAPL.drop(columns=['ticker_symbol', 'sentiment_score'])
X1_AAPL.head(5)

,post_date,comment_num,retweet_num,like_num,follower_count,compound_score
0,1420070457,0,0,1,2016,0.0000
8,1420509805,0,0,0,2016,0.3400
9,1420513302,0,0,0,2016,0.0000
11,1420567655,0,0,0,2016,0.4404
12,1420594047,0,0,0,2016,-0.5859

In [47]:

X2_AAPL=pd.read_csv("./Data/Finance/AAPL.csv")

#Market closes at 4pm EST, UnixTime stamp is by UTC time, UNIX is 4 hours later
Time_Difference = 60 * 60 * (16 + 5)
X2_AAPL['UnixTime_close'] = pd.to_datetime(X2_AAPL['Date']).apply(lambda x: int(x.timestamp() + Time_Difference))
X2_AAPL.head(5)


# X1_AAPL.to_csv('./Data/new/AAPL_Tweet.csv', index=False)
# X2_AAPL.to_csv('./Data/new/AAPL_Finance.csv', index=False)

X1_AAPL['post_date'] = pd.to_datetime(X1_AAPL['post_date'], unit='s', utc=True).dt.tz_convert('US/Eastern')
# create a new column that indicates whether the timestamp is before or after 9pm UTC
four_pm_est = pd.Timestamp('16:00:00', tz='US/Eastern').time()
X1_AAPL['Before 4pm EST'] = X1_AAPL['post_date'].dt.time < four_pm_est

X2_AAPL['Date'] = pd.to_datetime(X2_AAPL['Date'])

X1_AAPL['post_date_no_hour'] = X1_AAPL['post_date'].dt.date
X1_AAPL.head(5)

,post_date,comment_num,retweet_num,like_num,follower_count,compound_score,Before 9pm UTC,Before 4pm EST,post_date_no_hour,post_date_date
0,2014-12-31 19:00:57-05:00,0,0,1,2016,0.0000,True,False,2014-12-31,2014-12-31
8,2015-01-05 21:03:25-05:00,0,0,0,2016,0.3400,True,False,2015-01-05,2015-01-05
9,2015-01-05 22:01:42-05:00,0,0,0,2016,0.0000,True,False,2015-01-05,2015-01-05
11,2015-01-06 13:07:35-05:00,0,0,0,2016,0.4404,True,True,2015-01-06,2015-01-06
12,2015-01-06 20:27:27-05:00,0,0,0,2016,-0.5859,True,False,2015-01-06,2015-01-06

In [45]:
# # Convert post_date to date-only format
# X1_AAPL['post_date_date'] = X1_AAPL['post_date'].dt.date
# X2_AAPL['Date'] = pd.to_datetime(X2_AAPL['Date'])

# # Merge with X2_AAPL based on date
# merged_data = pd.merge(X1_AAPL, X2_AAPL, left_on='post_date_date', right_on='Date')

# # Convert UnixTime_close to datetime
# merged_data['close_datetime'] = pd.to_datetime(merged_data['UnixTime_close'], unit='s')

# # Convert close_datetime to EST timezone
# merged_data['close_datetime_est'] = merged_data['close_datetime'].dt.tz_localize('UTC').dt.tz_convert('US/Eastern')

# # Create a boolean column indicating whether it's before 4pm EST
# four_pm_est = pd.Timestamp('16:00:00', tz='US/Eastern').time()
# merged_data['Before 4pm EST'] = merged_data['close_datetime_est'].dt.time < four_pm_est

# # Create a new column for the price based on whether it's before 4pm EST or not
# merged_data['price'] = np.where(merged_data['Before 4pm EST'], merged_data['Close'], merged_data['Close_tomorrow'])

# merged_data

ValueError: You are trying to merge on object and datetime64[ns] columns. If you wish to proceed you should use pd.concat

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

#sample code
lin_reg = LinearRegression()
np.random.seed(40)  # to make this code example reproducible

for n in range(3,6):
    
    scores = []
    kfold = KFold(n_splits=n, shuffle=True, random_state=42) #--->here k=3 with 3-fold cross validation.
    
    #random_state controls randomness of each fold.
    for i, (train, test) in enumerate(kfold.split(, X2_AAPL['Close'])):#--->splitting into train and test set.
        # use linear Regression on train set
        reg = LinearRegression().fit(df_scaled.take(train),y.take(train))
        scores.append(reg.score(df_scaled.take(test), y.take(test)))
    print(f"with {n} folds, the average score is {round(sum(scores)/n,3)}")