In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv("./Data/ultimate_twitter.csv")

In [72]:
X1=df[[
    "post_date",
    "comment_num",
    "retweet_num",
    "like_num",
    "follower_count",
    "ticker_symbol",
    "sentiment_score"
]]
X1.head(5)

,post_date,comment_num,retweet_num,like_num,follower_count,ticker_symbol,sentiment_score
0,1420070457,0,0,1,2016,AAPL,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,1420094236,0,0,0,2016,GOOG,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,1420232469,0,0,0,2016,TSLA,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,1420405295,0,0,0,2016,TSLA,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,1420418061,0,0,0,2016,GOOG,"{'neg': 0.125, 'neu': 0.688, 'pos': 0.188, 'co..."

In [ ]:
X1['compound_score'] = X1['sentiment_score'].apply(lambda x: float(eval(x)['compound']))

In [83]:
X1_AAPL = X1[X1['ticker_symbol'] == 'AAPL']
X1_AAPL.head(5)

,post_date,comment_num,retweet_num,like_num,follower_count,ticker_symbol,sentiment_score,compound_score
0,1420070457,0,0,1,2016,AAPL,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
8,1420509805,0,0,0,2016,AAPL,"{'neg': 0.121, 'neu': 0.645, 'pos': 0.234, 'co...",0.3400
9,1420513302,0,0,0,2016,AAPL,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
11,1420567655,0,0,0,2016,AAPL,"{'neg': 0.0, 'neu': 0.707, 'pos': 0.293, 'comp...",0.4404
12,1420594047,0,0,0,2016,AAPL,"{'neg': 0.322, 'neu': 0.678, 'pos': 0.0, 'comp...",-0.5859

In [85]:
from sklearn.preprocessing import MinMaxScaler

X1_AAPL.drop(columns=['ticker_symbol'])

,post_date,comment_num,retweet_num,like_num,follower_count,sentiment_score,compound_score
0,1420070457,0,0,1,2016,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
8,1420509805,0,0,0,2016,"{'neg': 0.121, 'neu': 0.645, 'pos': 0.234, 'co...",0.3400
9,1420513302,0,0,0,2016,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
11,1420567655,0,0,0,2016,"{'neg': 0.0, 'neu': 0.707, 'pos': 0.293, 'comp...",0.4404
12,1420594047,0,0,0,2016,"{'neg': 0.322, 'neu': 0.678, 'pos': 0.0, 'comp...",-0.5859
...,...,...,...,...,...,...,...
2866158,1577807615,0,0,0,1566,"{'neg': 0.825, 'neu': 0.175, 'pos': 0.0, 'comp...",-0.5719
2866159,1577808118,0,0,3,2095,"{'neg': 0.0, 'neu': 0.634, 'pos': 0.366, 'comp...",0.6369
2866170,1577825286,2,0,2,782,"{'neg': 0.623, 'neu': 0.377, 'pos': 0.0, 'comp...",-0.7650
2866171,1577825619,0,0,0,2258,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
2866175,1577833905,0,0,2,811,"{'neg': 0.144, 'neu': 0.82, 'pos': 0.036, 'com...",-0.5106

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

#sample code
lin_reg = LinearRegression()
np.random.seed(40)  # to make this code example reproducible

for n in range(3,6):
    
    scores = []
    kfold = KFold(n_splits=n, shuffle=True, random_state=42) #--->here k=3 with 3-fold cross validation.
    
    #random_state controls randomness of each fold.
    for i, (train, test) in enumerate(kfold.split(df_scaled, y)):#--->splitting into train and test set.
        # use linear Regression on train set
        reg = LinearRegression().fit(df_scaled.take(train),y.take(train))
        scores.append(reg.score(df_scaled.take(test), y.take(test)))
    print(f"with {n} folds, the average score is {round(sum(scores)/n,3)}")